<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <style>
        body{
            font-family: sans-serif;
        }
        .error-password-reset {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            width: fit-content;
            height: fit-content;

            margin: auto;

            background-color: rgb(43, 57, 185);

            padding: 10px;

            border-radius: 10px;
        }

        .error-password-reset h1 {
            color: yellowgreen;
        }

        .error-password-reset h2 {
            color: yellowgreen;
        }
        
        .error-password-reset a {
            color: yellowgreen;
            font-weight: bold;
        }

    </style>
</head>
<body>
    <div class="error-password-reset">
        
        <h2>Não verificado!</h2>
        <a href="https://taskmanager4567.onrender.com">Home</a>
    </div>
</body>
</html>